.ImagenTarjeta{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.InfoTarjeta{
 display: flex;
 align-items: center;
}

.IconoCompartirTarjeta{
    display: flex;
    align-items: flex-end;
    
}
.cuerpoTarjeta{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.ImagenPerfil{
    height: 32px;
    width: 32px;
    border-radius: 50px;
}
.Haiku{
    position: static;
}